

%div.container 
    %div.title
        Welcome to Grade keeping system
        %br
        %div.links 
            = link_to 'Login', login_path 
            |
            = link_to 'View Courses', courses_path

