-# in app/views/movies/show.html.haml
%h1 Instructor Profile 


%ul#details
  %li
    Firstname:
    = @instructor.firstname
  %li
    Lastname:
    = @instructor.lastname
  %li
    Email:
    = @instructor.email
 

%p
  %div.links
    =link_to 'Edit Profile', edit_instructor_path(@current_user)
    |
    =link_to 'Back', instructor_home_path