/* Simple CSS styling for RottenPotatoes app */
/* Add these lines to app/assets/stylesheets/application.css */

html, body {
    margin: 0;
    padding: 0;
    background: White;
    font-family: Tahoma, Verdana, sans-serif;
  }

.container{
  width:100%;
  height:auto;
  text-align:center;
}
.info{
  width:100%;
  height:auto;
  font-size:16px;
  padding:10px 0 10px 20px;
  border-bottom:2px solid #ccc;
}
.title{
  font-size:22px;
  font-family: Tahoma, Verdana, sans-serif;
  padding:25px 15px 15px 15px;
}
.links{
  font-size:18px;
  padding-top:20px;
  font-family: Tahoma, Verdana, sans-serif;
  color: #4286f4
}
  div#main {
    margin: 0;
    padding: 0 20px 20px;
  }
a {
  font-size:18px;
  color: #4286f4;
  text-decoration: none;
}
a:hover {
  font-size:18px;
  color:#3675db;
  text-decoration: underline
}

h1 {
  color: #4286f4;
  font-size: 18px;
  display: block;
  width: 100%;
  border-bottom:1px solid #ccc;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: orange;
  color: white;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
}
input{
  border:1px solid #ccc;
  border-radius:5px;
  margin-top:5px;
  padding:8px;
}
textarea{
  border:1px solid #ccc;
  border-radius:5px;
  margin-top:5px;
  padding:8px;
}
select{
  border:1px solid #ccc;
  border-radius:5px;
  margin-top:5px;
  padding:8px;
}
form label {
  display: block;
  font-weight: bold;
  font-size:14px;
  margin-top:10px;
  color:#3675db;
}
  /* 
    table style
  */
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  #details{
    list-style-type: none;
  }

  #details li{
    padding:3px;
    margin-top:5px;
  }

#notice{
  background: #00ad22;
  font-size:18px;
  padding:8px 0px 8px 20px;
  color:white;
}
#warning{
  background:#ce2d1e;
  font-size:18px;
  padding:8px 0px 8px 20px;
  color:white;
}
